/*Cores*/
:root {
    --base: rgb(0, 132, 255);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

#div-geral {
    margin: 0 auto;
    margin-top: 60px; 
    width: 90%;
}

/*Cabecalho*/
header, .navbar {
    background-color: var(--base);
}

#titulo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.navbar-nav {
   font-weight: bold; 
}

/*textos*/
.texto-p {
    text-align: justify;
}

#div-grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
}

#div-grid-img> img {
    margin: 0 auto;
}

/*Rado pe*/
footer {
    background-color: var(--base);
    position: absolute;
    bottom: -1;
    width: 100%;
}

footer > p {
    color: #fff;
    text-align: center;
    margin-top: 0.8%;
}

@media (max-width: 900px) {
    #div-grid-img {
        grid-template-columns: 1fr;
    }

    #div-grid-img > img {
       margin-bottom: 10px;
       width: 95%;
    }
}

@media (max-width: 500px) {

    #h4-dife {
        text-align: center;
    }

    #div-grid-img {
        grid-template-columns: 1fr;
    }

    #div-grid-img > img {
        width: 99%;
    }

}